<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
    <event name="vira_config_generate_before">
        <observer name="Magexperts_ViraSmileElasticsuite" instance="Magexperts\ViraSmileElasticsuite\Observer\RegisterModuleForMagexpertsConfig"/>
    </event>
</config>
